.registration-container {
    margin: 10px auto;
}

.registration-desc {
    margin: 25px
}
.registration-label {
    display: block;
    margin: 10px
}

.registration-button {
    
    display: block;
    margin: 0 auto 10px;
    border-bottom: ;
}

.registration-footer {
    margin-top: 25px;
}

.toLogin {
    width: 80%;
    border-top: 1px solid black;
}