.registration-container {
    margin: 10px auto;
}

.registration-label {
    display: block;
    margin: 10px
}

.registration-button {
    margin: 0 auto 31px;
    padding: 3px 8px;
}

.registration-footer {
    margin-top: 25px;
}

.toLogin {
    width: 80%;
    border-top: 1px solid white;
    padding: 14px 0;
    color: #A96BFF;
    margin: 20px
}

