.word-container {
    border-bottom:1px solid white;
    display: flex;
    justify-content: space-around;
}

.sub-word {
    width: 40%;
}

.sub-word-small {
    width: 30%;
}

.dashboard {
    width: 90%;
    margin: 0 auto;
}

.total-counter {
    margin-left: 30px;
}

h2 {
    text-align: center;
}

h3 {
    color: #A96BFF;
}

.start-button {
    margin:30px auto 50px;
}



@media (min-width: 890px) {
    .dashboard {
        width:50%;
    }
    
    .sub-word {
        width: 60%;
    }

    .sub-word-small {
        width: 20%;
    }
}