.word-container {
    border-bottom:1px solid white;
    display: flex;
    justify-content: space-around;
}

.sub-word {
    width: 75%;
}

.sub-word-small {
    width: 25%;
}

.dashboard {
    width: 50%;
    margin: 0 auto;
}

.total-counter {
    margin-left: 30px;
}

h2 {
    text-align: center;
}

h3 {
    color: #A96BFF;
}

.start-button {
    margin-top: 20px;
}